:root{
    --color:#27C7AB;
}
*{
    box-sizing: border-box;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
body{
    font-family: 'Raleway', sans-serif;
}
.page-header{
    background: #000000;
    height: 40px;
}
.page-logo {
    float:left;
}
.page-logo__link{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
}
.page-logo__link span{
    color:var(--color);
}
.page-nav{
    float: right;
}
.page-nav-list{

}
.page-nav-list li{
    float: left;
    position: relative;
}
.page-nav-list a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
    font-size:14px;
    line-height: 40px;
    padding:0 25px;
    display: block;
}
.page-nav-list a:hover{
    color: var(--color);
}
.page-nav-sublist{
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%,0);
    background: #000;
    opacity:0;
    visibility: hidden;
    transition: 0.5s all;
    padding: 10px 0;
}
.page-nav-list li:hover .page-nav-sublist{
    opacity: 1;
    visibility: visible;
}
.page-nav-sublist:before{
    content: '';
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    transform: translate(-50%,-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top:0;
}
.page-nav-sublist:after{
    content: '';
    background: transparent;
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top:-30px;

}
.page-nav-sublist li{
    float:none;
}
.page-nav-sublist a{
    font-weight: normal;
    text-transform: none;
    line-height: 30px;
}